<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">

<div class="container well well__ins5">
    <div class="row">
        <div class="grid_12">
            <h2 class="hdng">Qué te ofrecemos?</h2>
            <h4>
                Te invitamos a pensar en el futuro...
            </h4>
            <h1>&nbsp;</h1>
        </div>
    </div>
    <div class="row">
        <div class="grid_4">
            <div class="box2">
                <h3>
                    1) Private banking
                </h3>

<p class="justify"> Ofrecemos el servicio de banca privada que
consiste en colocar recursos analizando las circunstancias particulares de cada
cliente, su flujo de fondos, su patrimonio, su perfil de riesgo, sus
preferencias y sus necesidades económicas presentes y futuras. <br>Además de
un servicio de asesoramiento a medida, ofrecemos servicios de gestión de
carteras y diversos productos a medida. </p>


                <div class="box2_hr"></div>

                <a class="btn1" href="#">más</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="box2">
                <h3>
                    2) Wealth Managment.
                </h3>

<p class="justify">
Porque muchas veces la realidad económica, financiera
y fiscal de nuestros días es mucho más compleja que antes, es por eso que
nosotros ofrecemos un servicio de atención íntegra en diferentes aspectos 
económicos, financieros, fiscales e incluso de retiro, para que
cada cliente pueda despreocuparse de estos asuntos y poner
sus energías en sus verdaderas prioridades.
</p>

                <div class="box2_hr"></div>

                <a class="btn1" href="#">más</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="box2">
                <h3>
                    3) Asset Management. 
                </h3>

<p class="justify"> La gestión de activos es una actividad que consiste en la
gestión del capital (como bonos y acciones) en el marco del Mercado de Capitales,
que realizamos a través de instituciones auditadas y de prestigio,
para alcanzar beneficios sostenidos a nuestros clientes. <br>La gestión de
activos no es sólo una forma de tener asesoramiento en materia de inversiones,
sino también es la actividad pertinente para la gestión de las mismas.
</p>

                <div class="box2_hr"></div>

                <a class="btn1" href="#">más</a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="stellar-section">
    <div class="stellar-block stellar2">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="box3 ta__l">
                        <h2 class="ta__l">Market assessment</h2>

                        <p>
                            Implementamos estrategias de inversión diversificadas que permitan bajar sustanciamente el riesgo a los movimientos del ciclo económico. 
                            Asimismo, apuntamos a inversiones que minimicen el riesgo al tipo de cambio. 
                        </p>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container well well__ins5">
    <div class="row">
        <div class="grid_12">
            <h2 class="hdng">Nuestros servicios</h2>
            <h4>Brindamos distintos servicios financieros. Asesoramos para prevenir. Diseñamos tus próximos pasos con compromiso y profesionalismo.
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="grid_4">
            <div class="service">
                <div class="service_cnt2">
                    <div class="fa fa-dollar"></div>
                    <h2>
                        <a href="#">Asset Managment</a>
                    </h2>
                    <p>
                        Diseñamos portafolios de inversión diversificados haciendo incapié en cada situación particular, minimizando riesgos y aumentando los retornos. 
                    </p>

                    <a class="btn1" href="#">lea más</a>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="service">
                <div class="service_cnt2">
                    <div class="fa fa-gavel"></div>
                    <h2>
                        <a href="#">Derecho Financiero</a>
                    </h2>
                    <p>
                        Asesoramos sobre estructuración de deuda y fideicomisos. También asesoramos y gestionamos trámites ante la Comisión Nacional de Valores.
                    </p>

                    <a class="btn1" href="#">lea más</a>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="service">
                <div class="service_cnt2">
                    <div class="fa fa-users"></div>
                    <h2>
                        <a href="#">Banca Privada</a>
                    </h2>
                    <p>
                        Analizamos la situación particular de cada empresa y le brindamos apoyo y asesoramiento para que accedan a líneas de créditos a bajo costo.
                    </p>

                    <a class="btn1" href="#">lea más</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="stellar-section">
    <div class="stellar-block stellar3">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h2>
                        <span>Ofrecemos</span>
                        <span>las mas inteligentes</span>
                         estrategias de inversion para cada coyuntura económica
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

</section>