<!DOCTYPE html>
<html lang="es">
{% seo %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/grid.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/search-form.css">
    <link rel="stylesheet" href="assets/css/contact-form.css">
    <link rel="stylesheet" href="assets/css/camera.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/subscribe-form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
    <script src="assets/js/jquery.equalheights.js"></script>
    <script src="assets/js/sForm.js"></script>
    <script src="assets/js/jquery.mobile.customized.min.js"></script>
    <script src="assets/js/camera.js"> </script>
    <script src="assets/js/owl.carousel.js"></script>
    <!-- <link rel="alternate" hreflang="es" href="http://www.aldgateadvisors.com/inicio">
    <link rel="alternate" hreflang="es" href="http://www.aldgateadvisors.com/home"> -->


</head>

<body>
    {% include header.html %}