<!--========================================================
CONTENT
=========================================================-->
<section id="content">
    <div class="container well well__ins5">
        <div class="row">
            <div class="grid_12">
                <h2 class="hdng">Quienes somos</h2>
                <p class="justify" style="font-size: medium;">
                Nuestro equipo tiene como argumento principal, su trayectoria tanto en el campo del ejercicio profesional como en el área académica. Desde allí, es de donde parte nuestro asesoramiento para que los clientes tengan una idea acabada sobre su situación económica y financiera concreta, como también, una idea acabada para diseñar sus futuras inversiones.
                </p>
                <h2>&nbsp;</h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <h2 class="hdng">Sobre nosotros</h2>
                <p class="justify" style="font-size: medium;">
                Administramos el patrimonio de las personas y empresas maximizando su retorno de inversión dependiendo de su horizonte de inversión. Creamos estrategias de inversión ajustadas a cada cliente y los asesoramos sobre cada decisión financiera.
                </p>
                <h2>&nbsp;</h2>
            </div>
        </div>
        <div class="row">
            <!-- <div class="grid_4">
                <div class="project project__off1">
                    <div class="project_hdr">
                        <img src="images/aldgate/team_bandi.jpg" alt="Alejandro Bandi"/>
                    </div>
                    <div class="project_cnt">
                        <h3>
                        <a href="#">Alejandro Bandi</a>
                        </h3>
                        <p>
                            <span class="italic">Managing Partner</span>
                            <br>
Magister en Finanzas (UCEMA).<br>
Contador Público (UBA).<br>
Especialista en Planeamiento y Control de Gestión. Experto en Asset Allocation.
                        </p>
                        <a class="btn1" href="#">more</a>
                    </div>
                </div>
            </div> -->
            <div class="grid_4">
                <div class="project project__off1">
                    <div class="project_hdr">
                        <img src="images/aldgate/team_culari.jpg" alt="Oscar Culari"/>
                    </div>
                    <div class="project_cnt">
                        <h3>
                        <a href="#">Oscar Culari</a>
                        </h3>
                        <p>
                            <span class="italic">Managing Partner</span>
                            <br>
Magister en Finanzas con especialización en Mercados de Capitales (UCEMA).<br>
Abogado con especialización en Derecho Privado (UBA).<br>
Derecho Bancario y Financiero.
                        </p>
                        <a class="btn1" href="#">more</a>
                    </div>
                </div>
            </div>
            <!--<div class="grid_4">
                <div class="project project__off1">
                    <div class="project_hdr">
                        <img src="images/aldgate/team_franze2.jpg" alt="Leandro Franze"/>
                    </div>
                    <div class="project_cnt">
                        <h3>
                        <a href="#">Leandro Franze</a>
                        </h3>
                        <p>
                            <span class="italic">Managing Partner</span>

                            <br>
Magister en Finanzas (UCEMA).<br>
Economista (UBA).<br>
Estructuración de Deuda.
                        </p>
                        <a class="btn1" href="#">more</a>
                    </div>
                </div>
            </div>
            
        </div>-->
        
            <div class="grid_4">
                <div class="project project__off1">
                    <div class="project_hdr">
                        <img src="images/aldgate/team_demarco.jpg" alt="Diego Demarco"/>
                    </div>
                    <div class="project_cnt">
                        <h3>
                        <a href="#">Diego Demarco</a>
                        </h3>
                        <p>
                            <span class="italic">Managing Partner</span>
                            <br>
Master en Finanzas (UCEMA)<br>
Economista (UCA).<br>
Master en Administación de Empresas (por el IAE Business School y la London Business School).<br>
Coordinador de Inversiones. Diseño de portafolios.
                        </p>
                        <a class="btn1" href="#">more</a>
                    </div>
                </div>
            </div>
        </div>
            <!--<div class="grid_4">
                <div class="project project__off1">
                    <div class="project_hdr">
                        <img src="images/aldgate/team_galun.jpg" alt="Daiana Galun"/>
                    </div>
                    <div class="project_cnt">
                        <h3>
                        <a href="#">Daiana Galun</a>
                        </h3>
                        <p>
                            <span class="italic">Managing Partner</span>
                            <br>
Master en Finanzas (UCEMA)<br>
Economista (UBA). También ha realizado estudios AMB en EADA, Barcelona, España (2013).<br>
Especialista en Finanzas Corporativas.
                        </p>
                        <a class="btn1" href="#">more</a>
                    </div>
                </div>
            </div>-->
        <div class="row">
            <div class="grid_4">
                <div class="project project__off1">
                    <div class="project_hdr">
                        <img src="images/aldgate/team_paolini.jpg" alt="Luis Paolini"/>
                    </div>
                    <div class="project_cnt">
                        <h3>
                        <a href="#">Luis Paolini</a>
                        </h3>
                        <p>
                            <span class="italic">IT & Business Development Partner</span>
                            <br>
Master en Agronegocios (UCEMA) con especialización en Regent's Business School en Londres.<br>
Analista y desarrollador de tecnología aplicada a los negocios.
                        </p>
                        <a class="btn1" href="#">more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>