<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">

    <div class="container">
        <div class="row">
            <div class="grid_6">
                <div class="well well__ins5">
                    <h2 class="hdng">informacion de contacto</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.277318173991!2d-58.38096168477045!3d-34.59714838046123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac9e71b8b77%3A0x540fa6712a381c38!2sEsmeralda+950%2C+C1007ABL+CABA!5e0!3m2!1sen!2sar!4v1562182431177!5m2!1sen!2sar"></iframe>
                    <address class="addr2">
                        <p>
                            Esmeralda 950, piso 16<br/> Ciudad Autónoma de Buenos Aires. (C1007ABL).
                        </p>
                        <dl>
                            <dt>Telefono:</dt>
                            <dd>(54911) 5485-6318</dd>
                        </dl>
                        <p>
                            E-mail:
                            <a href="mailto:info@aldgateadvisors.com">info@aldgateadvisors.com</a>
                        </p>
                    </address>
                </div>
            </div>
            <div class="grid_6">
                <div class="well well__ins5 well__ins6">
                    <h2 class="hdng">formulario de contacto</h2>

                    <iframe src="https://docs.google.com/forms/d/1KeuCXnSevYouNwRLhnN55MWL7nDIf_yk55i5yTobla4/viewform?embedded=true#start=embed" width="560" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>            </div>
        </div>
    </div>

</section>
